.btn-bid{
  margin-right: 8px;
  padding: 8px 12px;
  border: solid 1px rgb(226, 91, 28);
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(226, 91, 28);
  color: #fff;
}

.btn-bid{
  transition-duration: 0.4s;
}

.btn-bid:hover{
  background-color: #fff; 
  color:rgb(226, 91, 28); ;
}

