.bid-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  text-decoration: underline;
  font-size: 40px;
color:rgb(226, 91, 28);
}

.bid-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
  width: 50%;
  border: solid 2px rgb(179, 41, 17);
  border-radius: 8px;
  background-color: #f9f9f9;

}
.bid-form-inputs{
  font-size: 28px;
  width: 80%;
  height: 80%;
}

.input-area{
  width: 100%;
  font-size: 24px;
}
.bid-text{
  height: 30%;
}
.bid-form-input-fields{
  display: flex;
  gap: 15px;
  width: 100%;
  border: solid 1px rgb(179, 41, 17);
  padding: 6px;
  border-radius: 8px;
  margin: 30px 10px;
  background-color: #eaf0d1
}

.bid-form-input-fields:hover{
  box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}

.bid-form-btn{
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 60%;
  height: 10%;
  font-size: 28px;
  margin-top: 15px;
  margin-right: 8px;
  padding: 8px 12px;
  border: solid 1px rgb(226, 91, 28);
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(226, 91, 28);
  color: #fff;
  text-decoration: none;
}

.bid-form-btn{
  transition-duration: 0.4s;
}
.bid-btn-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bid-form-btn:hover{
  background-color: #fff; 
  color:rgb(226, 91, 28); ;
}