.page {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 4%;
  padding: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(226, 91, 28);
}

.main-container {
  display: grid;
}

.project-card-container{
  border: solid 2px;
  border-radius: 16px;
  margin: 10px;
}

.project-card-container:hover{
   box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}

.btn,
.tab-btn {
  margin-right: 8px;
  padding: 8px 12px;
  border: solid 1px rgb(226, 91, 28);
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(226, 91, 28);
  color: #fff;
}
.tab-btn {
  flex: 1;
}

.tab-btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #fff;
  color: rgb(226, 91, 28);
}

p {
  font-size: 24px;
}
